{
  "presets": [
    "env",
    "react",
    "flow",
    ["es2015", { "modules": false }]
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-object-rest-spread",
    "transform-class-properties"
  ]
}
