{
  "presets": [
    "env",
    "react",
    "flow",
    ["es2015", { "modules": false }]
  ],
  "plugins": [
    "transform-runtime",
    "react-hot-loader/babel",
    "transform-object-rest-spread",
    "transform-class-properties",
    "syntax-async-functions",
    "transform-regenerator",
  ]
}
